<div>
    <div class="text-end">
        <button type="button" id="button-confirm" class="btn btn-primary">{{ button_confirm }}</button>
    </div>
</div>

<script type="text/javascript"><!--
$('#button-confirm').on('click', function () {
    var element = this;
    $.ajax({
        url: 'index.php?route=extension/mobilpay/payment/mobilpay.confirm&language={{ language }}',
        dataType: 'json',
        beforeSend: function () {
            $(element).button('loading');
        },
        complete: function () {
            $(element).button('reset');
        },
        success: function (json) {
          
        console.log(json.paymentResult);

        if (json.paymentResult.status == 0) {
                $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json.paymentResult.msg + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            } else if (json.paymentResult.status == 1){
                // Redirect to Payment page
                if (json.paymentResult.url) {
                    if (json.redirect_external) {
                        window.location.href = json.paymentResult.url;
                    } else {
                        // Redirect Intern
                        //location = json.paymentResult.url;
                    }
                }

                $('#alert').prepend('<div class="alert alert-info alert-dismissible"><i class="fa-solid fa-credit-card"></i> ' + json.paymentResult.msg + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            } else {
                $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json.paymentResult.msg + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script>